<section data-ng-controller="CotisesController">
  <div class="page-header">
    <h1>New Cotise</h1>
  </div>
  <div class="col-md-12">
    <form name="createForm" role="form" class="form-horizontal" data-ng-submit="create()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="A gift for our best friend Michel" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <textarea data-ng-model="description" id="description" class="form-control" rows="3" placeholder="Let's buy a gift for our geek friend birthday." required></textarea>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg">Create</button> <!-- ng-disabled="createForm.$invalid" -->
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>