<section data-ng-controller="CotisesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Cotises</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="cotise in cotises" data-ng-href="#!/cotises/{{cotise._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="cotise.created | date:'medium'"></span>
				by
				<span data-ng-bind="cotise.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="cotise.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!cotises.$resolved || cotises.length">
    	No Cotises yet, why don't you <a href="/#!/cotises/create">create one</a>?
    </div>
</section>